<%= form_for([:admin, @transaction], :html => {:class => "form-horizontal"}, :remote => true) do |f| %>
    <fieldset>

      <div class="control-group">
        <label for="type" class="control-label">Kayit Tipi:</label>

        <div class="controls">
          <%= f.select(:transaction_type, Transaction::TYPES.collect{|key,value| [value,key]}) %>
        </div>
      </div>

      <div class="control-group">
        <label for="related_person_name" class="control-label">Ilgili Kisi Adi:</label>
        <div class="controls">
          <%= f.text_field :related_person_name, :class => 'input-xlarge' %>
        </div>
      </div>

      <div class="control-group">
        <label for="related_person_email" class="control-label">Ilgili Kisi E-Posta:</label>
        <div class="controls">
          <%= f.text_field :related_person_email, :class => 'input-xlarge' %>
        </div>
      </div>

      <div class="control-group">
        <label for="amount" class="control-label">Para Miktari:</label>
        <div class="controls">
          <%= f.number_field :amount, :class => 'input-xlarge' %>
        </div>
      </div>

      <div class="control-group">
        <label for="start_date" class="control-label">Borc Alma/Verme Tarihi:</label>
        <div class="controls">
          <%= f.date_select :start_date, :class => 'input-xlarge' %>
        </div>
      </div>

      <div class="control-group">
        <label for="end_date" class="control-label">Vade Tarihi:</label>
        <div class="controls">
          <%= f.date_select :end_date, :class => 'input-xlarge' %>
        </div>
      </div>

      <div class="modal-footer">
        <%= f.submit  :class => 'btn btn-primary'%>
        <a data-dismiss="modal" class="btn" href="#">Iptal</a>
      </div>

    </fieldset>
<% end %>
