<div class="row">
  <div class="span2">
    <%= render 'admin/shared/sidebar' %>
  </div>
  <div class="span9">

    <div class="page-header">
      <h1>Borc Bilgileri</h1>
    </div>

    <form class="form-horizontal">
      <fieldset>
        <div class="control-group">
          <label class="control-label">Borc Verilen Adi:</label>

          <div class="controls">
            <span class="input-xlarge uneditable-input"><%= @transaction.related_person_name %></span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">E-Posta:</label>

          <div class="controls">
            <span class="input-xlarge uneditable-input"><%= @transaction.related_person_email %></span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Borc Durumu:</label>

          <div class="controls">
            <span class="input-xlarge uneditable-input"><%= @transaction.status %></span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Borc Miktari:</label>

          <div class="controls">
            <span class="input-xlarge uneditable-input"><%= @transaction.amount %></span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Borclu Twitter Hesabi:</label>

          <div class="controls">
            <span class="input-xlarge uneditable-input"><%= @transaction.related_person_twitter %></span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Borclu Facebook Hesabi:</label>

          <div class="controls">
            <span class="input-xlarge uneditable-input"><%= @transaction.related_person_facebook %></span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Borc Verme Tarihi:</label>

          <div class="controls">
            <span class="input-xlarge uneditable-input"><%= @transaction.start_date %></span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Borc Vade Son Tarihi:</label>

          <div class="controls">
            <span class="input-xlarge uneditable-input"><%= @transaction.end_date %></span>
          </div>
        </div>
        <div class="form-actions">
          <%= link_to 'Duzenle', edit_admin_transaction_url(:id => @transaction.id), :class => 'btn btn-primary' %>
          <%= link_to 'Geri', '#', :class => 'btn back-button' %>
        </div>
      </fieldset>
    </form>
  </div>

</div>